/* @import "tailwindcss/base"; */
/* @import "tailwindcss/components"; */
@import "tailwindcss/utilities";
@import "tailwindcss/screens";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

i{
  margin-left: 20px;
}
.text-primary {
  @apply text-purple-500;
}

.bg-primary {
  @apply bg-purple-500;
}

.font {
  font-family: 'PT Sans', sans-serif;
}

html,
body {
  @apply font;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

.Toastify__toast{
  @apply font;
  font-weight: 300 !important;
  padding-left: 1rem;
}
a {
  @apply text-primary;
  text-decoration: none;
}
nav a {
  color: black
}

* {
  /*@apply font-semibold;*/
  box-sizing: border-box;
}

.input {
  @apply font;
  @apply mb-6 bg-gray-200 border-none px-2;
  display: block;

}

input, select {
  @apply input h-8
}

select {
  @apply mr-4 my-2
}

textarea {
  @apply input p-2
}

input[type=submit], button, input[type=button] {
  @apply font shadow border-none p-2 text-white transition rounded bg-primary cursor-pointer transition duration-500;
}

input[type=submit]:hover, button:hover {
  @apply opacity-75;
}

input[type=file]{
  @apply bg-white h-12 py-4
}

input[type=file]::-webkit-file-upload-button {
  display: none;
}

input[type=file]:before {
  content: 'Pick File';
  @apply font shadow border-none p-2 my-2 mr-2 text-white transition rounded bg-primary cursor-pointer transition duration-500;
}

h3 {
  @apply text-primary
}

table {
  
}

th {
  @apply text-left text-xl text-gray-600 py-4
}

td {
  @apply py-2 w-auto
}

@screen sm {
  h1, h2 {
    @apply w-full text-center
  }
}

.room > h3 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 1em;
}

.local-participant {
  text-align: center;
  margin-bottom: 2em;
}

.participant {
  background: #333e5a;
  padding: 10px;
  border-radius: 6px;
  display: inline-block;
  margin-right: 10px;
  /* width: 100px; */
}

form > div > input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid #333e5a;
}

.dropbtn {
  background-color: #9568cf;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #7936d1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #7936d1;}