/* @import "tailwindcss/base"; */
/* @import "tailwindcss/components"; */
@import "tailwindcss/utilities";
@import "tailwindcss/screens";

.text-primary {
  @apply text-green-500;
}

.bg-primary {
  @apply bg-green-500;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
}

.Toastify__toast{
  font-weight: 500 !important;
}
a {
  @apply text-primary;
  text-decoration: none;
}
nav a {
  color: black
}

* {
  @apply font-semibold;
  box-sizing: border-box;
}

.input {
  @apply mb-6 bg-gray-200 border-none px-2;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: block;

}

input, select {
  @apply input h-8
}

select {
  @apply mr-4 my-2
}

textarea {
  @apply input p-2
}

input[type=submit], button, input[type=button] {
  @apply shadow border-none p-2 text-white transition rounded bg-primary cursor-pointer transition duration-500;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

input[type=submit]:hover, button:hover {
  @apply opacity-75;
}

input[type=file]{
  @apply bg-white h-12 py-4
}

input[type=file]::-webkit-file-upload-button {
  display: none;
}

input[type=file]:before {
  content: 'Pick File';
  @apply shadow border-none p-2 my-2 mr-2 text-white transition rounded bg-primary cursor-pointer transition duration-500;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h3 {
  @apply text-primary
}

table {
  
}

th {
  @apply text-left text-xl text-gray-600 py-4
}

td {
  @apply py-2 w-auto
}

@screen sm {
  h1, h2 {
    @apply w-full text-center
  }
}